@model NotesMarketplace.Models.BuyerRequest
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.BR_ActiveLink = "active";
    ViewBag.Title = "Buyer Request";
    Layout = "~/Views/Shared/RegistorCommon.cshtml";
}

<!-- Buyer Request -->
<section id="dashboard-publish" class="mydownload-margin">
    <div class="container">
        <div class="row top-table">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                <h3 class="col-left">Buyer Requests</h3>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 extra-margin">
                @{
                    if (ViewBag.BuyerRequest == "true")
                    {

                    }
                    else
                        {<form>
                            <div class="row justify-content-end">
                                <div class="wrapper">
                                    <img src="~/Content/img/Dashboard/search.jpg" class="searchimage doup">
                                    <input type="text" name="buyerrequestsearch" value="@Request.QueryString["buyerrequestsearch"]" class="form-control search-bar InputEmail1" placeholder="Search">
                                    <input hidden name="buyerrequestindex" value=@Request.QueryString["buyerrequestindex"] />
                                    <input hidden name="buyerrequestTitleSort" value="@Request.QueryString["buyerrequestTitleSort"]" />
                                    <input hidden name="buyerrequestCategorySort" value="@Request.QueryString["buyerrequestCategorySort"]" />
                                </div>
                                <div class="btn-merge">
                                    <button type="submit" class="btn text-uppercase text-center" id="mybtn"><b>Search</b></button>
                                </div>
                            </div>
                        </form>
                    }
                }

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="grid-table table-responsive-xl">
                    @{
                        if (ViewBag.BuyerRequest == "true")
                        {
                            <h3 class="NoRecord">No Record Found</h3>
                        }
                        else
                        {
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="align-middle text-center">SR NO.</th>
                                        <th scope="col" class="align-middle" onclick="location.href='@Url.Action("BuyerRequests", "Home",new {buyerrequestTitleSort="title" , buyerrequestindex=Request.QueryString["buyerrequestindex"], buyerrequestsearch=Request.QueryString["buyerrequestsearch"], buyerrequestCategorySort=Request.QueryString["buyerrequestCategorySort"] })'">NOTE TITLE</th>
                                        <th scope="col" class="align-middle" onclick="location.href='@Url.Action("BuyerRequests", "Home",new {buyerrequestCategorySort="category" , buyerrequestindex=Request.QueryString["buyerrequestindex"], buyerrequestsearch=Request.QueryString["buyerrequestsearch"], buyerrequestTitleSort=Request.QueryString["buyerrequestTitleSort"] })'">CATEGORY</th>
                                        <th scope="col" class="align-middle">BUYER</th>
                                        <th scope="col" class="align-middle">PHONE NO.</th>
                                        <th scope="col" class="align-middle">SELL TYPE</th>
                                        <th scope="col" class="align-middle">PRICE</th>
                                        <th scope="col" class="align-middle">DOWNLOADED DATE/TIME</th>
                                        <th scope="col" class="align-middle"></th>
                                        <th scope="col" class="align-middle"></th>
                                        <th scope="col" class="align-middle"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int index = 1;}
                                    @foreach (DownloadedNote mynote1 in Model.buyerrequest)
                                    {
                                        <tr>
                                            <td class="align-middle text-center">@index</td>
                                            <td class="align-middle getpurple">@mynote1.NoteTitle</td>
                                            <td class="align-middle">@mynote1.Category</td>
                                            <td class="align-middle">@mynote1.BuyerEmail</td>
                                            <td class="align-middle">@mynote1.BuyerMobile</td>
                                            <td class="align-middle">Paid</td>
                                            <td class="align-middle">@mynote1.SellPrice</td>
                                            <td class="align-middle">@mynote1.CreatedDate.Value.ToString("dd") @mynote1.CreatedDate.Value.ToString("MMM") @mynote1.CreatedDate.Value.ToString("yyyy"), @mynote1.CreatedDate.Value.ToString("T")</td>
                                            <td class="align-middle">
                                                <a href="@Url.Action("ViewNotes","Home", new { id = @mynote1.Note})"><img src="~/Content/img/Dashboard/eye.png" alt="view"></a>
                                            </td>
                                            <td class="align-middle">
                                                <div class="dropdown">
                                                    <a type="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <img src="~/Content/img/home/dots.png" />
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                                        <a class="dropdown-item" href="@Url.Action("AllowDownload","Home", new { BookID= mynote1.Note , BuyerID = mynote1.Buyer })">Allow Download</a>
                                                    </div>
                                                </div>

                                            </td>
                                            <td></td>
                                        </tr>
                                        index++;
                                    }

                                </tbody>
                            </table>
                        }
                    }

                </div>
            </div>


        </div>
    </div>
</section>
<!-- Buyer Request Ends -->
<!-- Pagination -->
<section id="pagination">
    @Html.PagedListPager(Model.buyerrequest, buyerrequestindex => Url.Action("BuyerRequests", "Home", new { buyerrequestindex, buyerrequestsearch = Request.QueryString["buyerrequestsearch"], buyerrequestTitleSort = Request.QueryString["buyerrequestTitleSort"], buyerrequestCategorySort = Request.QueryString["buyerrequestCategorySort"] }), new PagedList.Mvc.PagedListRenderOptions
    {
        ContainerDivClasses = null,
        LiElementClasses = new string[] { "page-item1" },
        UlElementClasses = new string[] { "pagination justify-content-center" },
        LinkToNextPageFormat = "<i class='fa fa-chevron-right'></i>",
        LinkToPreviousPageFormat = "<i class='fa fa-chevron-left'></i>",
        MaximumPageNumbersToDisplay = 5,
        DisplayEllipsesWhenNotShowingAllPageNumbers = false,
        DisplayLinkToFirstPage = PagedListDisplayMode.Never,
        DisplayLinkToLastPage = PagedListDisplayMode.Never

    })
    </section>
    @*<nav>
            <div class="container">
                <div class="row justify-content-center">


                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="fa fa-angle-left"></i></a>
                        </li>
                        <li class="page-item selected"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="fa fa-angle-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>*@
    <!-- Pagination Ends -->
    <!-- Footer -->
