@model NotesMarketplace.Models.ChangePassword
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/MyAuth.cshtml";
}

<!-- Change Password Page -->
<section id="background">
    <div id="changepass-page" class="container">

        <!-- Logo -->
        <div class="row justify-content-center">
            <div id="loginlogo" class="text-center col-md-6 col-12 col-sm-12">

                <img src="~/Content/img/pre-login/top-logo.png" class="img-fluid" alt="Loin">
            </div>
        </div>



        <div class="row justify-content-center">

            <div class="col-12 col-md-12 col-sm-11 col-lg-9 col-xl-8">
                <div id="changepass-form">

                    <!-- Heading -->
                    <div id="changepassword-head" class="text-center">
                        <h2>Change Password</h2>
                        <p>Enter your new password to change your password</p>
                    </div>

                    <!-- Form -->
                    <form method="post">

                        <!-- Password 1-->
                        <div class="form-group">
                            <label class="mylabel">Old Password</label>
                            <div class="wrapper">
                                @Html.TextBoxFor(m => m.OldPasswords, new { @Type = "password", @class = "form-control InputEmail1 InputPassword1", @placeholder = "Enter your Password", @id = "changepass-old", @maxlength = "24" })
                                <span toggle="#changepass-old" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            @Html.ValidationMessageFor(m => m.OldPasswords)
                            @ViewBag.Message
                        </div>

                        <!-- Password 2-->
                        <div class="form-group">
                            <label class="mylabel">New Password</label>
                            <div class="wrapper">
                                @Html.TextBoxFor(m => m.NewPasswords, new { @Type = "password", @class = "form-control InputEmail1 InputPassword1", @placeholder = "Enter your New Password", @id = "changepass-new1", @maxlength = "24" })
                                <span toggle="#changepass-new1" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            @Html.ValidationMessageFor(m => m.NewPasswords)
                        </div>

                        <!-- Password 3-->
                        <div class="form-group">
                            <label class="mylabel">Confirm Password</label>
                            <div class="wrapper">
                                @Html.TextBoxFor(m => m.ConfirmPasswords, new { @Type = "password", @class = "form-control InputEmail1 InputPassword1", @placeholder = "Enter your Password", @id = "changepass-new2", @maxlength = "24" })
                                <span toggle="#changepass-new2" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            @Html.ValidationMessageFor(m => m.ConfirmPasswords)
                        </div>

                        <!-- LOGIN Button -->
                        <button type="submit" class="btn text-uppercase text-center" id="mybtn"><b>Submit</b></button>
                    </form>



                </div>
            </div>
        </div>
    </div>
</section>
<!-- Change Password Page End -->
