@model NotesMarketplace.UserProfileDetail
@{
    ViewBag.Title = "User Profile";
    Layout = "~/Views/Shared/RegistorCommon.cshtml";


}

<!-- User Profile Page -->
<!-- Upper Section -->
<section>
    <div id="userprofile-img">
        <div class="centerh2">

            <h2>User Profile</h2>

        </div>
    </div>
</section>

<form class="user-details-form" method="post" enctype="multipart/form-data">

    <!-- Pesronal Detail -->
    <section id="personal-details" class="user-profile content-box-md">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading">
                            <h3>Basic Profile Details</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">

                            <div class="col-md-6 col-sm-6">
                                <!-- First Name -->
                                <div class="form-group">
                                    <label class="mylabel">First Name*</label>
                                    @Html.TextBoxFor(x => x.User.FirstName, new { @type = "text", @placeholder = "Enter your First Name", @class = "form-control InputEmail1" })
                                    @Html.ValidationMessageFor(x=>x.User.FirstName)
                                </div>

                            </div>
                            <div class="col-md-6 col-sm-6">
                                <!-- Last Name -->
                                <div class="form-group">
                                    <label class="mylabel" for="InputEmail1">Last Name*</label>
                                    @Html.TextBoxFor(x => x.User.LastName, new { @type = "text", @placeholder = "Enter your Last Name", @class = "form-control InputEmail1" })
                                    @Html.ValidationMessageFor(x => x.User.LastName)
                                </div>

                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-6 col-sm-6">
                                <!-- Email -->
                                <div class="form-group">
                                    <label class="mylabel" for="InputEmail1">Email*</label>

                                    <a href="~/Views/Home/UserProfile.cshtml">~/Views/Home/UserProfile.cshtml</a>
                                    @Html.TextBoxFor(x => x.User.EmailID, new { @type = "email", @placeholder = "Enter your Email Address", @class = "form-control InputEmail1", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(x => x.User.EmailID)
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <!-- Date Of Birth -->
                                <div class="form-group">
                                    <label class="mylabel">Date Of Birth</label>

                                    <!-- Icon -->
                                    <div class="wrapper">
                                        @Html.TextBoxFor(x => x.DOB, new { @type = "date", @placeholder = "Enter your birth of date", @class = "form-control InputEmail1" })
                                        <img src="~/Content/img/user-profile/calendar.png" alt="show">
                                    </div>
                                    @Html.ValidationMessageFor(x => x.DOB)
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <!-- Gender -->
                                <div class="form-group">
                                    <label class="mylabel">Gender</label>
                                    <select name="Gender" class="form-control inputselect">
                                        <option selected disabled>Select your gender</option>
                                        @{
                                            if (Model.Gender != null)
                                            {
                                                if (Model.Gender == "Male")
                                                {
                                                    <option selected>Male</option>
                                                    <option>Female</option>
                                                }
                                                else
                                                {
                                                    <option>Male</option>
                                                    <option selected>Female</option>
                                                }
                                            }
                                            else
                                            {
                                                <option>Male</option>
                                                <option>Female</option>
                                            }
                                        }

                                    </select>

                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">

                                <!-- Phone Number -->
                                <div class="form-group">
                                    <label class="mylabel">Phone Number</label>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-5 col-sm-5 col-3 col-xl-3 col-lg-4  nopadding">
                                                <div class="marginright">

                                                    <select name="CountryCode" class="form-control inputselect">

                                                        @{
                                                            foreach (var item in ViewBag.Category)
                                                            {
                                                                if (@item.CTC == 3)
                                                                {
                                                                    if (ViewBag.CountryCode != null)
                                                                    {
                                                                        if (ViewBag.CountryCode == ("+" + item.CountryCode))
                                                                        {
                                                                            <option selected>@item.CountryCode</option>
                                                                        }
                                                                        else
                                                                        {
                                                                            <option>@item.CountryCode</option>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        <option>@item.CountryCode</option>
                                                                    }

                                                                }

                                                            }
                                                        }


                                                    </select>
                                                    <p class="field-validation-error">@ViewBag.Message</p>

                                                </div>
                                            </div>
                                            <div class="col-md-7 col-sm-7 col-9 col-xl-9 col-lg-8 nopadding">
                                                @Html.TextBoxFor(x => x.Number, new { @type = "text", @placeholder = "Enter your phone number", @class = "form-control InputEmail1" })
                                                @Html.ValidationMessageFor(x => x.Number)

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Profile Picture -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="upload-profile-pic">
                                        <label class="mylabel" for="InputEmail1">Profile Picture</label>

                                        @Html.TextBoxFor(x => x.ProfilePic, new { @Type = "file", @class = "form-control InputEmail1" })

                                        <div class="uploadmypic text-center">
                                            <img class="img-fluid" src="~/Content/img/user-profile/upload.png">
                                            <h6>Upload a picture</h6>
                                        </div>
                                    </div>
                                    @{
                                        if (ViewBag.Img != null)
                                        {
                                            <p class="field-validation-error">@ViewBag.Img</p>
                                        }
                                        else
                                        {
                                            @Html.ValidationMessageFor(x => x.ProfilePic)
                                        }


                                    }


                                    @ViewBag.Name
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- User Detail Ends-->
    <!-- Address Detail Section -->
    <section id="Address-details" class="user-profile content-box-md">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="head">
                            <h3>Address Details</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-6 col-sm-6">
                                <!-- Address Line 1 -->
                                <div class="form-group">

                                    <label class="mylabel">Address Line 1 *</label>
                                    @Html.TextBoxFor(x => x.Address1, new { @Type = "text", @class = "form-control InputEmail1", @placeholder = "Enter your address", @maxlength = "100" })
                                    @Html.ValidationMessageFor(x => x.Address1)
                                    
                                </div>

                            </div>
                            <div class="col-md-6 col-sm-6">
                                <!-- Address Line 2 -->
                                <div class="form-group">
                                    <label class="mylabel" for="InputEmail1">Address Line 2 *</label>
                                    @Html.TextBoxFor(x => x.Address2, new { @Type = "text", @class = "form-control InputEmail1", @placeholder = "Enter your address", @maxlength = "100" })
                                    @Html.ValidationMessageFor(x => x.Address2)
                                    
                                </div>

                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-6 col-sm-6">
                                <!-- City -->
                                <div class="form-group">
                                    <label class="mylabel" for="InputEmail1">City *</label>
                                    @Html.TextBoxFor(x => x.City, new { @Type = "text", @class = "form-control InputEmail1", @placeholder = "Enter your city", @maxlength = "50" })
                                    @Html.ValidationMessageFor(x => x.City)
                                    
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <!-- State -->
                                <div class="form-group">
                                    <label class="mylabel">State *</label>
                                    @Html.TextBoxFor(x => x.States, new { @Type = "text", @class = "form-control InputEmail1", @placeholder = "Enter your State", @maxlength = "50" })
                                    @Html.ValidationMessageFor(x => x.States)
                                    
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <!-- ZipCode -->
                                <div class="form-group">
                                    <label class="mylabel">ZipCode *</label>
                                    @Html.TextBoxFor(x => x.ZipCode, new { @Type = "text", @class = "form-control InputEmail1", @placeholder = "Enter your zipcode", @maxlength = "50" })
                                    @Html.ValidationMessageFor(x => x.ZipCode)
                                    
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">

                                <!-- Country -->
                                <div class="form-group">
                                    <label class="mylabel">Country *</label>


                                    <select name="Country" id="Country" class="form-control inputselect">
                                        <option selected disabled>Select your country</option>
                                        @{
                                            foreach (var item in ViewBag.Category)
                                            {
                                                if (@item.CTC == 3)
                                                {
                                                    if (ViewBag.Country != null)
                                                    {
                                                        if (ViewBag.Country == item.CTCValue)
                                                        {
                                                            <option selected>@item.CTCValue</option>
                                                        }
                                                        else
                                                        {
                                                            <option>@item.CTCValue</option>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <option>@item.CTCValue</option>
                                                    }

                                                }

                                            }
                                        }


                                    </select>
                                    <p class="field-validation-error">@ViewBag.CountryMessage</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--  Address Detail Ends -->
    <!-- Academic Detail Section -->
    <section id="study-details" class="user-profile content-box-md">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="head">
                            <h3>University and College Details</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-6 col-sm-6">
                                <!-- University -->
                                <div class="form-group">
                                    <label class="mylabel">University</label>
                                    @Html.TextBoxFor(x => x.University, new { @Type = "text", @class = "form-control InputEmail1", @placeholder = "Enter your University", @maxlength = "100" })
                                    @Html.ValidationMessageFor(x => x.University)
                                    
                                </div>

                            </div>
                            <div class="col-md-6 col-sm-6">
                                <!-- College -->
                                <div class="form-group">
                                    <label class="mylabel" for="InputEmail1">College*</label>
                                    @Html.TextBoxFor(x => x.College, new { @Type = "text", @class = "form-control InputEmail1", @placeholder = "Enter your College", @maxlength = "100" })
                                    @Html.ValidationMessageFor(x => x.College)
                                    
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <!-- Login Button -->
                <div class="row">
                    <div class="col-md-2 col-sm-12">
                        <button type="submit" class="btn text-uppercase text-center form-control" id="mybtn"><b>submit</b></button>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--Academic Detail End-->
</form>
<!-- footer -->
