@model NotesMarketplace.ManageCTC
@{
    ViewBag.Setting_ActiveLink = "active";
    ViewBag.Title = "Add Category";
    Layout = "~/Views/Shared/AdminCommon.cshtml";
}
<!-- Add Catagory -->
<form class="user-details-form" method="post">


    <section id="personal-details" class="user-profile content-box-md">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading">
                            <h3>Add Category</h3>
                        </div>
                    </div>
                </div>
                
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">

                                <div class="col-md-6 col-sm-6">
                                    <!-- Catagory Name -->
                                    <div class="form-group">
                                        <label class="mylabel">Category Name*</label>
                                        @Html.TextBoxFor(x => x.CTCValue, new { @Type = "text", @class = "form-control InputEmail1", @placeholder = "Enter your category", @maxlength = "100" })
                                        @Html.ValidationMessageFor(x => x.CTCValue)
                                        <p class="field-validation-error">@ViewBag.CTC</p>
                                    </div>

                                </div>
                            </div>
                            <!-- Description -->
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <div class="textarea-input">
                                            <label class="mylabel" for="InputEmail1">Description *</label>
                                            @Html.TextAreaFor(x => x.Descriptions, new { @Type = "text", @class = "form-control InputEmail1", @placeholder = "Enter your description ", @maxlength = "max" })
                                            @Html.ValidationMessageFor(x => x.Descriptions)
                                            <p class="field-validation-error">@ViewBag.Description</p>
                                            <p class="field-validation-error">@ViewBag.Exist</p>

</div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-2 col-sm-3">
                                    <button type="submit" class="btn text-uppercase text-center" id="mybtn"><b>submit</b></button>
                                </div>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>

    </section>


</form>
